body {
    background: #eee;
    padding: 0 16px;
    background-color: #eee;
}

button {
    margin: 5px;
}

h3 {
    overflow: hidden;
    text-overflow: "...";
    white-space: nowrap;
    line-height: normal;
}

/** header component **/
header {
    background-color: #00cc66;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

header h1 {
    color: white;
    font-family: Montserrat;
    font-weight: 700;
}

header h1 span {
    margin-right: 0.5rem;
}

/** generic note **/
.note {
    position: relative;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #bbb;
    padding: 5px 10px;
    width: 240px;
    height: 160px;
    margin: 16px;
    float: left;
    cursor: pointer;
}

.note-h3 {
    font-size: 1.5rem;
}

.note-p {
    font-size: 1rem;
    overflow: clip;
    max-height: 4.5rem;
}

.note-delete-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color: #FFFFFF;
}

.note-delete-button:hover {
    color: #f5a313;
    border-radius: 50%;
    background-color: #eee;
}

/** Create note component **/
form.create-note {
    position: relative;
    width: 480px;
    margin: 5% auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}


form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.add-note-button:hover {
    background: #f5a313;
}

/** home route **/
.open-notebooks {
    margin: 10px auto 30px auto;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #1eb52d;
    border-color:  #1eb52d;
}

.open-notebooks:hover {
    background-color: #134ef5;
    border-color:  #134ef5;
}

.notes-container {
    margin: 30px 5%;
}

hr.rounded {
    border-top: 5px solid #999;
    border-radius: 5px;
    margin: 0px 5%;
}


/** login route **/
.login-form {
    position: relative;
    margin: 10% auto;
    max-width: 370px;
    text-align: center;
}

.login-form h5 {
    margin:0px 0px 20px 0px;
}

.login-input {
    width: 100%;
    margin: 5px;
}

.login-input label {
    margin-right: 10px;
}

.login-submit {
    margin: 10px 5px 5px 0px;
}

/** full note page **/
.note-page {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 16px 16px 50px 16px;
    width: 50%;
    margin: 24px auto;
    display: block;
    position: relative;
}

.note-page-button-container {
    right: 10px;
    position: absolute;
}

form.edit-note {
    position: relative;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
}

form.edit-note input,
form.edit-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    box-shadow: 0 1px 1px #ccc;
}


/** notebooks page **/

.add-notebook {
    display: block;
    margin: 5px auto;
    font-size: 1rem;
}

.add-notebook-input {
    display: inline;
}

.notebook-container {    
    width: 25%;
    height: 140px;
    padding: 6px 12px;
    margin: 2% 3%;
    box-shadow: 0 4px 8px #555;
    background-color: #00773b;
    float: left;
}

.notebook-container h3 {
    font-weight: 600;
    color: #FFF;
}

.notebook-container p {
    margin-top: 10px;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}

.add-notebook-container {
    display: block;
    margin: 40px auto 15px auto;
    width: 30%;
}

.edit-note > label {
    display:block;
    padding: 10px 0px;
}